.plans {
  background-color: $backgroundColor;
  padding: 16rem 0 12rem;
  &-heading {
    text-align: center;
    margin-bottom: 6rem;
  }
  &-desc {
    font-size: 16px;
    font-weight: 300;
    color: $textColor;
    text-align: center;
    margin-bottom: 7.5rem;
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 3rem;
  }
  &-item {
    text-align: center;
    padding: 4rem 6rem;
    width: 40rem;
    // height: 30rem;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &-heading {
      font-size: 18px;
      text-transform: uppercase;
      color: $textColor;
      font-weight: 400;
      margin-bottom: 6rem;
    }
    &-current {
      font-size: 4rem;
      font-weight: bold;
      color: $darkColor;
    }
    &-price {
      font-size: 7.2rem;
      font-weight: bold;
      color: $darkColor;
    }
    &-duration {
      font-size: 2.2rem;
      font-weight: 300;
      color: $textColor;
    }
    &-desc {
      margin-top: 6rem;
      font-size: 1.8rem;
      font-weight: 300;
      color: $textColor;
    }
  }
  &-support {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-men {
      margin-bottom: 3.5rem;
    }
    &-heading {
      font-size: 2.2rem;
      color: $darkColor;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 3.5rem;
      cursor: default;
    }
    &-desc {
      font-size: 1.6rem;
      font-weight: 300;
      color: $textColor;
      margin-bottom: 7.5rem;
      max-width: 53rem;
      text-align: center;
    }
    &-contact {
      display: flex;
      align-items: center;
      gap: 0 7rem;
      &-link {
        display: flex;
        align-items: center;
        gap: 0 8px;
        cursor: pointer;
        span {
          font-size: 2.2rem;
          font-weight: 500;
          color: $darkColor;
        }
      }
    }
  }
}
